extends layout

block content
  h1=title 
  .centered
    a(href='/genre/create')
      button Add Genre  
  .centered
    section
      if allGenres.length 
        each genre in allGenres
          li 
            a(href=genre.url) #{genre.name} 
      else 
        h2 There are no genres.