extends layout

block content
  h1=title 
  a(href='/genre/create') Add Genre 
  if allGenres.length 
    each genre in allGenres
      li 
        a(href=genre.url) #{genre.name} 
  else 
    h2 There are no genres.