extends layout

block content 
  h1= title 
  form(method="post")
    .mainFields
      label(for="name") Genre Name 
      input#name(type="text", name="name", required, value=(genre === undefined ? '' : genre.name))
      label(for="description") Description
      textarea#description(name="description", cols="30", rows="10", required) #{genre === undefined ? '' : genre.description}
      if title === 'Update Genre'
        label(for="password") Admin Password
        input#password(type="password", name="password", required) 
    button(type="submit") Submit 
  if errors 
    ul 
      each error in errors 
        li!= error.msg