doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    nav 
        a(href="/")
          button  Home 
        a(href="/films")
          button Browse Films
        a(href="/genres")
          button Browse Genres
    main
      block content
